$MARGIN: 10px;

.messenger{
		height: 100%;
		width: 200%;
		background: transparent;
		padding: $MARGIN;
		box-sizing: border-box;
		position: relative;

		&--no-selected{
			display: flex;
			justify-content: center;
			align-content: center;
		}
		
		&__trade_info{
			height: 100px;
			border-bottom: 1px solid #ccc;
			display: flex;
			flex-direction: row;
			align-items: center;
			justify-content: space-between;
			width: 100%;

			&__back{
				width: 48px;
				height: 48px;
				border-radius: 7px;
				line-height: 40px;
				color: #aaa;
				font-weight: bold;
				text-align: center;
				margin-right: 16px;
				font-size: 40px;
				cursor: pointer;
				white-space: nowrap;
			}

			&__forward{
				width: 48px;
				height: 48px;
				border-radius: 7px;
				line-height: 40px;
				color: #aaa;
				font-weight: bold;
				text-align: center;
				margin-left: 16px;
				font-size: 40px;
				cursor: pointer;
				white-space: nowrap;
			}

			&__delete{
				width: 48px;
				height: 48px;
				text-align: center;
				margin-right: 16px;
				text-align: center;
				box-sizing: border-box;
				padding: 11px;
				cursor: pointer;
				border-radius: 100%;
				background-color: #838383;
			}

			&__wrapper{
				display: flex;
				flex-direction: column;
				justify-content: center;
				align-items: center;
	
				&__title{
					font-size: 20px;
    				color: #7f7f88;
				}

				&__trader{
					color: #7f7f88;
					line-height: 40px;
				}
			}
		}

		&__history{
			top: 112px;
			display: flex;
			flex-direction: column;
			overflow: auto;
			box-sizing: border-box;
			right: 16px;
			left: 16px;
			position: absolute;
			bottom: 70px;

			&__message{
				margin-top: 10px;
				padding: 0 10px;
				display: flex;

				img{
					margin-top: 15px;
				}

				&--buyer{
					flex-direction: row;

					img{
						margin-right: 15px;
					}
				}

				&--seller{
					flex-direction: row-reverse;

					img{
						margin-left: 15px;
					}
				}

				&__wrapper{
					&--buyer{
						display: flex;
						flex-direction: column;
						align-items: flex-start;
					}

					&--seller{
						display: flex;
						flex-direction: column;
						align-items: flex-end;
					}
				}

				&__content{
					padding: 16px;
					box-sizing: border-box;
					font-size: 16px;
					line-height: 22px;
					border-radius: 4px;
					position: relative;

					&--buyer{
						background-color: #fff;
						border: 1px solid #e9eaeb;
						color: #797a83;
					}

					&--seller{
						background-color: #5c7293;
						border: 1px solid #627797;
						color: #9fadc1;
					}

					&__indicator{
						width: 10px;
						height: 10px;
						position: absolute;
						top: 36px;
						transform: rotate(45deg);

						&--buyer{
							left: -6px;
							border-left: 1px solid #e9eaeb;
							border-bottom: 1px solid #e9eaeb;
							background-color: #fff;
						}

						&--seller{
							right: -6px;
							border-right: 1px solid #627797;
							border-top: 1px solid #627797;
							background-color: #5c7293;
						}
					}
				}

				&__time{
					font-size: 12px;
					line-height: 25px;
					color: #787982;
				}
			}
		}

		&__form{
			position: absolute;
			bottom: $MARGIN;
			height: 50px;
			right: $MARGIN;
			left: $MARGIN;

			&__input{
				width: 100%;
				padding: 0;
				margin: 0;
				border: 1px solid #ddd;
				height: inherit;
				padding-left: 10px;
				box-sizing: border-box;
				color: #333;
    			font-size: 16px;

				&:focus{
					outline: none;
				}
			}

			&__button{
				position: absolute;
				right: 10px;
				height: 40px;
				border: none;
				background: transparent;
				color: #62cc8b;
				top: 5px;
				font-weight: bold;
				cursor: pointer;

				&:focus{
					outline: none;
				}
			}
		}
	}